@mixin links {
    a {
        color: $color2;
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
        text-decoration: none;
    }
    a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color3;
        height: 3px;
        transition: right 0.3s ease-out;
    }
    a:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $color2;
        height: 3px;
        transition: right 0.3s ease-out;
    }
    a:hover {
        color: $color2;
        transition: color 0s ease-out 0.22s;
    }
    a:hover:after,
    a:focus:after,
    a:active:after {
        right: 0;
    }
}
@mixin boxHeader {
	position: relative;
    width: 60%;
    margin-left: 10%;
    background: $color3;
    text-decoration: underline;
}

@mixin boxList {
	background: linear-gradient(to bottom, $color3, $color5);
    width: 80%;
    padding: 1.5rem 1rem;
    margin: -1.75rem 5% 0 5%;
    border: 2px solid $color4;
}
@mixin processStarting {
    
}
@mixin formStyling {
    width: 90%;
    margin: 0 5% 1rem 5%;
    border: 2px solid $color4;
}