/* All other Sass style sheets are imported here. You can add as many
as makes sense for your project as long as you follow the 
naming convention "_filename.scss". They will be concantenated, compiled 
to CSS3 and linted for the dev build and minified with comments removed 
for the dist build */

@import "normalize";
@import "grid";
@import "variables";
@import "mixins";

//mobile styles

html {
    font-size: 18px;
}

body {
    h1, h2, h3, h4 {
        text-align: center;
    }
    li {
        list-style-type: none;
    }
    width: 100%;
    header{
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),                             url('../img/people.jpg') no-repeat center 0 fixed;
        background-size: cover;
        h1 {
            font-size: 7rem;
            color: white;
        }
        nav {
            display: none;
        }
    }

    main {}

    footer {}
}

//tablet styles
@media only screen and (min-width: 768px) {

html {}

body {

    header{

        nav {}
    }

    main {}
    
    footer {}
}    
}   

//notebook styles
@media only screen and (min-width: 960px) {

html {}

body {

    header{
        h1 {
            font-size: 15rem;
        }
        nav {}
    }

    main {}
    
    footer {}
}
}    
//large screen styles
@media only screen and (min-width: 1140px) {

html {}

body {

    header{

        nav {}
    }

    main {}
    
    footer {}
}
}