    /* All other Sass style sheets are imported here. You can add as many
as makes sense for your project as long as you follow the 
naming convention "_filename.scss". They will be concantenated, compiled 
to CSS3 and linted for the dev build and minified with comments removed 
for the dist build */
    
    @import "normalize";
    @import "grid";
    @import "variables";
    @import "mixins";
    //mobile styles
    html {
        font-size: 18px;
        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
        .sr-only-focusable:active,
        .sr-only-focusable:focus {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
        }
    }
    
    body {
        max-width: 100%;
        a {
            cursor: pointer;
        }
        h1,
        h2,
        h3,
        h4 {
            text-align: center;
        }
        p {
            margin-left: 5%;
        }
        button {
            position: relative;
            z-index: 50;
            overflow: hidden;
            width: 60%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin: 1rem 20%;
            background: transparent;
            border: 4px solid $color3;
            text-transform: uppercase;
            color: $color3;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $color2;
            }
            &:before {
                position: absolute;
                transition: width .3s ease-out;
                content: '';
                width: 0;
                bottom: 0;
                background: $color3;
                color: black;
                height: 140%;
                left: -20%;
                transform: skewX(15deg);
                z-index: -100;
            }
            &:hover:before,
            &:focus:before,
            &:active:before {
                width: 130%;
                left: -20%;
            }
        }
        li {
            list-style-type: none;
            padding-top: .5rem;
        }
        header {
            background: linear-gradient(to bottom, $color4, $color4), url('../img/people.jpg') no-repeat center 0 fixed;
            background-size: cover;
            h1 {
                font-size: 7rem;
                margin-bottom: 8rem;
                color: $color3;
                text-shadow: 5px 5px $color6;
            }
            nav {
                top: 0;
                .navbar {
                    position: fixed;
                    top: 0;
                    background: $color3;
                    height: 60px;
                    border-bottom: 3px solid $color1;
                    opacity: 0;
                    #mobileTrigger {
                        float: right;
                        padding: 12px 20px;
                        color: $color2;
                        font-size: 2rem;
                        i {
                            transition: .3s;
                        }
                    }
                    ul {
                        display: none;
                    }
                }
                div {
                    position: fixed;
                    top: 0;
                    z-index: 1000;
                    width: 100%;
                    img {
                        position: relative;
                        z-index: 1000;
                        border-radius: 50%;
                        box-shadow: 2px 2px 5px $color2;
                        width: 20%;
                    }
                }
                @keyframes visible {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
                .visible {
                    animation: visible 1s ease-in-out;
                    animation-fill-mode: forwards;
                }
                .mobileNav {
                    display: block;
                    position: fixed;
                    top: 0;
                    z-index: 500;
                    height: 600px;
                    height: 110vh;
                    width: 100%;
                    margin-top: 60px;
                    margin-left: -100%;
                    background: $color1;
                    font-size: 1.5rem;
                    transition: .3s;
                    @include links;
                    a:before {
                        background: $color1;
                    }
                    img {
                        width: 4rem;
                    }
                }
                .slideOut {
                    margin-left: 0;
                    transition: .3s;
                }
                .spinner {
                    transform: rotate(360deg);
                    transition: .3s;
                }
            }
        }
        main {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            @include links;
            #intro {
                overflow: hidden;
                h3 {
                    @include boxHeader;
                }
                ul {
                    @include boxList;
                }
                div {
                    padding-top: 1rem;
                    .col6:nth-of-type(1) {
                        img {
                            float: right;
                            overflow: hidden;
                            margin-top: -250px;
                            width: 200px;
                            width: 60%;
                            margin-right: -15%;
                        }
                        p:nth-of-type(4) {
                            position: relative;
                            z-index: 100;
                            width: 60%;
                            ul {
                                background: $color1;
                            }
                        }
                    }
                    .col6:nth-of-type(2) {
                        display: none;
                    }
                }
            }
            #process {
                height: 600px;
                height: 100vh;
                h4 {
                    opacity: 0;
                    color: $color5;
                    font-size: 5rem;
                    font-weight: bold;
                    padding: 0;
                    margin-top: -5rem;
                }
                p {
                    width: 80%;
                    margin: -22rem 10% 0 10%;
                }
                .process1 {
                    position: relative;
                    opacity: 0;
                    top: 450px;
                    p {
                        padding-top: 0;
                    }
                }
                .process2 {
                    position: relative;
                    opacity: 0;
                    top: 100px;
                    p {
                        padding-top: 0px;
                    }
                }
                .process3 {
                    position: relative;
                    opacity: 0;
                    top: -275px;
                }
                .process4 {
                    position: relative;
                    opacity: 0;
                    top: -625px;
                    p {
                        padding-top: 100px;
                    }
                }
                @keyframes processAnimation {
                    from {
                        transform: translateY(0px);
                        opacity: 0;
                    }
                    to {
                        transform: translateY(-450px);
                        opacity: 1;
                    }
                }
                .processAnimation {
                    animation: processAnimation 1s ease-out;
                    animation-fill-mode: forwards;
                }
                @keyframes backgroundAnimation {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
                .backgroundAnimation {
                    animation: backgroundAnimation .5s ease-in 1s;
                    animation-fill-mode: forwards;
                }
                #processControl {
                    width: 97.5%;
                    padding-left: 2.5%;
                    color: $color3;
                    margin-top: -1050px;
                    div {
                        display: inline-block;
                        width: 10%;
                        height: 10vw;
                        margin: 2.5%;
                        background: $color2;
                        text-align: center;
                        line-height: 45px;
                        line-height: 10vw;
                        cursor: pointer;
                        tab-index: "0";
                        transform: rotate(45deg);
                        div {
                            transform: rotate(315deg);
                        }
                    }
                    a {
                        color: $color3;
                        &:after,
                        &:before {
                            background: transparent;
                        }
                    }
                    @keyframes wiggle {
                        0% {
                            margin: 2.5% 2.5% 2.5% 2.5%;
                        }
                        25% {
                            margin: 2.5% 5% 2.5% 0;
                        }
                        75% {
                            margin: 2.5% 0 2.5% 5%;
                        }
                        100% {
                            margin: 2.5% 2.5% 2.5% 2.5%;
                        }
                    }
                    .wiggle {
                        animation: wiggle 2s ease-in-out infinite;
                    }
                    .still {}
                    @keyframes controlAnimation {
                        0% {
                            transform: scale(1) rotate(45deg);
                        }
                        75% {
                            transform: scale(2) rotate(315deg);
                        }
                        100% {
                            transform: scale(1.5) rotate(405deg);
                        }
                    }
                    .controlAnimation {
                        animation: controlAnimation 1s linear;
                        animation-fill-mode: forwards;
                    }
                }
            }
            .portfolio {
                background: $color3;
                margin-bottom: 3.375rem;
                img:nth-of-type(1) {
                    margin-left: 5%;
                    width: 70%;
                    max-width: 300px;
                }
                img:nth-of-type(2) {
                    float: right;
                    margin-right: 5%;
                    width: 50%;
                    max-width: 200px;
                    margin-top: -325px;
                }
                h3 {
                    font-size: 1.5rem;
                }
                h5 {
                    font-size: 1.25rem;
                    line-height: .5;
                    margin-left: 8%;
                }
                .col6:nth-of-type(2) {
                    img {
                        width: 90%;
                        max-width: 500px;
                    }
                }
                a {
                    margin-left: 40%;
                    text-align: center;
                    color: $color2;
                }
            }
            #contact {
                .col6 {
                    h3 {
                        @include boxHeader;
                    }
                    p {
                        @include boxList;
                    }
                }
                form {
                    @include boxList;
                    margin-top: 2.5rem;
                    label {
                        width: 100%;
                        margin-top: 1rem;
                    }
                    input {
                        @include formStyling;
                    }
                    select {
                        @include formStyling;
                    }
                    textarea {
                        @include formStyling;
                    }
                    button {
                        width: 80%;
                        margin: 1rem 10%;
                        border-color: $color4;
                        color: $color4;
                        &:hover {
                            color: $color2;
                            border-color: $color3;
                        }
                        &:before {
                            background: $color3;
                        }
                    }
                }
            }
        }
        footer {
            background: $color5;
            border-top: 12px solid $color4;
            text-align: center;
            @include links;
            .fa {
                font-size: 2rem;
            }
            a:before {
                background: transparent;
            }
            
            .col12 { 
                span {
                color: $color4;
                }
                a {
                    margin-left: 20%;
                }
                i {
                    color: $color2;
                }
            }
        }       
    }
    
    @media only screen and (min-width: 375px) {
        body main #process {
            .process1 {
                top: 500px;
            }
            .process2 {
                top: 150px;
            }
            .process3 {
                top: -150px;
            }
            .process4 {
                top: -475px;
            }
            #processControl {
                margin-top: -800px;
            }
        }
    }
    
    @media only screen and (min-width: 500px) {
        body main {
            #process {
                #processControl {
                    margin-top: -500px;
                    a {
                        margin-top: -.5rem;
                        margin-left: -.25rem;
                        font-size: 1.5rem;
                    }
                }
            }
            #portfolio1 {
                margin-top: -100px;
            }
            .portfolio {
                img:nth-of-type(1) {
                    margin-left: 10%;
                }
                img:nth-of-type(2) {
                    margin-right: 10%;
                }
                h5 {
                    text-align: center;
                }
                ul {
                    margin-left: 25%;
                }
            }            
        }
    }
    
    @media only screen and (min-width: 600px) {
        body {
            header {
                h1 {
                    font-size: 9rem;
                }
            }
            main {
                #process {
                    p {
                        width: 75%;
                        margin-left: 12.5%;
                        margin-right: 12.5%;
                    }
                    #processControl {
                        width: 80%;
                        margin-left: 15%;
                        div {
                            height: 8vw;
                        }
                    }
                }
                .portfolio {
                    img:nth-of-type(1) {
                        margin-left: 18%;
                    }
                    img:nth-of-type(2) {
                        margin-right: 17%;
                    }
                    .col6:nth-of-type(2) img {
                        margin-left: 0;
                    }
                }
                #portfolio1 {
                margin-top: -200px;
            }
            }
        }
    }
    
    //tablet styles
    @media only screen and (min-width: 768px) {
        html {
            font-size: 24px;
        }
        body {
            header {
                nav {
                    .mobileNav {
                        display: none;
                    }
                    .navbar {
                        display: inline;
                        position: fixed;
                        width: 100%;
                        height: 75px;
                        top: 0;
                        @include links;
                        #submenu a:before {
                            background: $color1;
                        }
                        a {
                            z-index: 1000;
                        }
                        span {
                            display: none;
                        }
                        ul {
                            display: block;
                            li {
                                font-size: 1rem;
                            }
                        }
                    }
                    div {
                        position: relative;
                        height: 75px;
                        background: $color3;
                        .logo {
                            padding-right: 5px;
                            &:after,
                            &:before {
                                background: transparent;
                            }
                        }
                        img {
                            width: 100px;
                        }
                        ul {
                            position: fixed;
                            width: 75%;
                            padding-left: 25%;
                            top: 10px;
                            background: $color3;
                            text-transform: uppercase;
                            li {
                                display: inline;
                                padding-right: 5%;
                                font-size: 1.25rem;
                            }
                        }
                        @keyframes slideDown {
                            from {
                                top: -100px;
                            }
                            to {
                                top: -35px;
                            }
                        }
                        .slideDown {
                            animation: slideDown .5s ease-in-out;
                            animation-fill-mode: forwards;
                        }
                    }
                    .slideUp {
                        display: block;
                        position: relative;
                        float: left;
                        z-index: 0;
                        width: 100%;
                        height: 50px;
                        background: $color1;
                        top: -100px;
                        padding-top: 1rem;
                        border-bottom: 1px solid $color3;
                        transition: .3s;
                        li {
                            display: inline;
                            padding-right: 5%;
                            font-size: 1.25rem;
                            text-transform: lowercase;
                            &:first-of-type {
                                margin-left: -5%;
                            }
                        }
                    }
                }
                h1 {
                    margin-top: 0;
                    font-size: 9rem;
                }
                .col12 button {
                    width: 30%;
                    margin-left: 35%;
                }
            }
            main {
                #intro {
                    h3 {
                        width: 80%;
                    }
                    div {
                        .col6:nth-of-type(1) {
                            min-height: 400px;
                            p {
                                width: 60vw;
                            }
                            p:nth-of-type(4) {
                                width: 100%;
                            }
                            img {
                                display: none;
                            }
                        }
                        .col6:nth-of-type(2) {
                            display: block;
                            max-height: 50vw;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                #process {
                    @keyframes processAnimation {
                        from {
                            transform: translateY(0px);
                            opacity: 0;
                        }
                        to {
                            transform: translateY(-100px);
                            opacity: 1;
                        }
                    }
                    .process1 {
                        top: 150px;
                    }
                    .process2 {
                        top: -225px;
                    }
                    .process3 {
                        top: -500px;
                    }
                    .process4 {
                        top: -775px;
                    }
                    #processControl {
                        margin-top: -700px;
                        div {
                            height: 6vw;
                            width: 7.5%;
                            line-height: 45px;
                        }
                        a {
                            margin-top: 0;
                            font-size: 1.5rem;
                        }
                    }
                }
                .portfolio {
                    img:nth-of-type(1) {
                        margin-left: 5%;
                    }
                    img:nth-of-type(2) {
                        margin-right: 5%;
                    }
                    h5 {
                        text-align: left;
                        margin-left: 10%;
                    }
                    ul {
                        margin-left: 5%;
                    }
                    .col6:nth-of-type(2) {
                        img {
                            margin-top: 5rem;
                        }
                    }
                }
                #portfolio1 {
                margin-top: -50px;
            }
                #contact {
                    .col6 {
                        &:first-of-type {
                            padding-top: 40px;
                        }
                        h3 {
                            width: 80%;
                        }
                    }
                }
            }
            footer {}
        }
    }
    
    //notebook styles
    @media only screen and (min-width: 960px) {
        html {}
        body {
            header {
                nav {
                    .navbar {
                        li {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
            main {
                #process {
                    #processControl {
                        margin-top: -700px;
                        a {
                            font-size: 2rem;
                        }
                    }
                }
            }
            footer {}
        }
    }
    
    //large screen styles
    @media only screen and (min-width: 1188px) {
        html {}
        body {
            header {
                nav {
                    div {
                        ul {
                            width: 70%;
                            padding-left: 30%;
                        }
                    }
                }
            }
            main {
                #intro {
                    div {
                        .col6:first-of-type {
                            p {
                                width: 55vw;
                            }
                        }
                    }
                }
                #process {
                    .process2 {
                        top: -150px;
                    }
                    .process3 {
                        top: -375px;
                    }
                    .process4 {
                        top: -600px;
                    }
                    #processControl {
                        margin-top: -600px;
                        div {
                            height: 70px;
                        }
                    }
                }
                .portfolio {
                    img:nth-of-type(2) {
                        margin-top: 25px;
                    }
                }
            }
            footer {}
        }
    }
    @media only screen and (min-width: 1350px) {
        body {
            main {
                #intro {
                    div {
                        .col6:first-of-type {
                            p {
                                width: 45vw;
                            }
                        }
                    }
                }
            }
        }
        
    }
