---
layout: default
title: "Local business website design" 
url: "http://www.joshboyan.com"
image: ""
description: "Freelance web designer focused on helping local businesses achieve their goals by providing digital solutions to real world problems."  

---
<h1>Grow<br>Your<br>Brand</h1>
<div class="col6">
    <a href="#process"><button>Process</button></a>
</div>
<div class="col6">
    <a href="#portfolio1"><button>Projects</button></a>
</div>
<div class="col12">
    <a href="#form"><button>Contact</button></a>
</div>
</header>
<main role="main">
    <section id="intro">
        <h2>Digital Solutions to Real Business Problems</h2>
        <div class="col6">
            <div></div>
            <div></div>
            <h3>Your Customers Want</h3>
            <ul>
                <li>Your site to look great on all their devices.</li>
                <li>Your site to be fast.</li>
                <li>To find what they need quickly.</li>
            </ul>
        </div>
        <div class="col6">
            <div></div>
            <div></div>
            <h3>You Want</h3>
            <ul>
                <li>To create more customers.</li>
                <li>Customers to love your brand.</li>
                <li>Existing customers to do more business with you.</li>
            </ul>
        </div>
        <div class="section">   
        <div class="col6">
            <p>Hi! I'm Josh.</p>
            <p>I am here to give you and your customers but you both want. As a user experience designer and front-end developer that creates digital solutions to real problems for local businesses like yours.</p>
             
            <p>I write responsive, accessible and performant code for solutions that include:</p>
            <ol>
                <li>Websites</li>
                <li>Apps</li>
                <li>Conversion Optimizations</li>
            </ol>
             <p>Check out some of my work below and <a href="#contact">reach out</a> to tell me about your business. Then we will make a <strong>customized plan to tell everyone about your business and measure your growth.</strong></p>
            <img src="%img/me.png" alt="Josh Boyan">
        </div>
        <div class="col6">
            <img src="%img/me.png" alt="Josh Boyan">
        </div>
        </div>
    </section><!--/#intro-->
    <section id="process">
        <div>
            <h2>Creative Process</h2>
        </div>
        <div id="process1" class="process1 processAnimation">
            <h3>Brand Exploration</h3>
            <h4 class="backgroundAnimation">What<br>Makes<br>You<br>Great</h4>
            <p>What makes your company and brand special? What do your customers love about you? That is at the core of your business and should also be the core of any marketing you do. Distilling your greatness is of the utmost importance to building a solution unique to you. Together we will build and online presence that your customers recognize and new prospects are attracted to.</p>
        </div>
        <div id="process2" class="process2">
            <h3>Competitive Analysis</h3>
            <h4>How<br>To<br>Beat<br>Them</h4>
            <p>Sun Tzu famously said, "Know your enemy". It is important to analyze the competition in your field to find out what they are doing well and not so well. We will find pain points in their offering and use their weaknesses to your advantage. A competitive analysis also reveals what their customers are looking for and what type af marketing attracts them to your competition.  </p>
        </div>
        <div id="process3" class="process3">
            <h3>Custom Design</h3>
            <h4>Solving<br>Your<br>Unique<br>Issues</h4>
            <p>Your unique solution can take various forms but I insist on some core development pricinples. It need to look great on any device your cusotmers may use. It needs to be accessible to everyone. It needs to run lightning fast. Most importantly, it needs to gracefully elevate your business. I custom tailor digital products to match your business and branding.</p>
        </div>
        <div id="process4" class="process4">
            <h3>User Testing</h3>
            <h4>Getting<br>It<br>Right</h4>
            <p>As the old saying goes, "The customer is always right". Any digital solution needs to be intuitive for users and be able to incorporate seamlessly into their lives. Otherwise they will find a better fit. We test this with actual users as well as alternatives and track all the results with cutting edge analytics to make sure we get it right for you and your customers.</p>
        </div>
        <div id="processControl">
            <div id="control0" data-slide="prev" class="control wiggle" onclick="prevSlide()">
                <div>
                    <a href="#process"><i class="fa fa-angle-double-left"></i></a>
                </div>
            </div>
            <div id="control1" data-slide="1" class="control controlAnimation" onclick="currentSlide(1)">
                <div>
                    <a href="#process">1</a>
                </div>
            </div>
            <div id="control2" data-slide="2" class="control item" onclick="currentSlide(2)">
                <div>
                    <a href="#process">2</a>
                </div>
            </div>
            <div id="control3" data-slide="3" class="control item" onclick="currentSlide(3)">
               <div>
                    <a href="#process">3</a>
                </div>
            </div>
            <div id="control4" data-slide="4" class="control item" onclick="currentSlide(4)">
                <div>
                    <a href="#process">4</a>
                </div>
            </div>
            <div id="control5" data-slide="next" class="control wiggle" onclick="nextSlide()">
                <div>
                    <a href="#process"><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </section><!--/#process-->
    <section id="portfolio1" class="portfolio">
        <h3>anything's PASTAble</h3>
        <div class="col6">
            <img src="%img/tabletAnything.png" alt="anything's PASTAble tablet viewport">
            <img src="%img/phoneAnything.jpg" alt="anything's PASTAble phone viewport">
            <h5>Overview</h5>
            <p>The clients, Ed and Laury, wanted a site for their food cart that matched the tone for their business; warm, inviting and rustic. After interviewing the clients I drew wire frames and decided information architecture using wireframe.io. The site is a mobile-first responsive design built using LESS for styling and Jquery for added functionality. In addition to designing and developing the site I wrote all of the copy.</p>
        </div>
        <div class="col6">
            <h5>Features</h5>
            <ul>
                <li>Engraved wood icons</li>
                <li>Polaroid image carousel</li>
                <li>Google maps API</li>
                <li>Facebook API feed</li>
                <li>Twitter API feed</li>
                <li>Swipe enabled photo gallery</li>
            </ul>
            <img src="%img/desktopAnything.jpg" alt="anything's PASTAble desktop viewport">
        </div>
        <div class="col12">
            <p>
            <a href="http://anythingspastablepdx.com/" target="_blank">Visit Site</a>
            </p>
        </div>
    </section><!--/#portfolio1-->
    <section id="portfolio2" class="portfolio">
        <h3>Andrew Johansen Music</h3>
        <div class="col6">
            <img src="%img/tabletAndrew.png" alt="Andrew Johansen Music tablet view">
            <img src="%img/phoneAndrew.jpg" alt="Andrew Johansen Music phone view">
            <h5>Overview</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut molestiae nemo quia enim quaerat tempora sunt labore dignissimos facere! Harum praesentium delectus odit facilis mollitia officiis nostrum dicta provident voluptates!</p>
        </div>
        <div class="col6">
        <h5>Features</h5>
            <ul>
                <li>Mailchimp email form</li>
                <li>Soundcloud widget</li>
                <li>Spotify playlist wiget</li>
                <li>Social media integration</li>
            </ul>
            <img src="%img/desktopAndrew.jpg" alt="Andrew Joshansen Music desktop view">
        </div>
        <a href="http://andrewjohansenmusic.com/" target="_blank">Visit Site</a>
    </section><!--/#portfolio2-->
    <section id="portfolio3" class="portfolio">
        <h3>Burrito Masala</h3>
        <div class="col6">
            <img src="%img/tabletBurrito.png" alt="Burrito Masala tablet view">
            <img src="%img/phoneBurrito.jpg" alt="Burrito Masala phone view">
            <h5>Overview</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quisquam eaque, sequi ut animi excepturi ab, esse, accusantium cupiditate, magnam unde ea! Eligendi officia eum, ad ipsum facilis perferendis sed.</p>
        </div>
        <div class="col6">
        <h5>Features</h5>
            <ul>
                <!--<li>Logo design</li>
                <li>Full page HTML5 video</li>-->
                <li>Responsive navigation</li>
                <li>Interactive burrito builder app</li>
                <li>AddThis social sharing</li>
                <li>Twitter API</li>
                <li>Google maps API</li>
            </ul>
            <img src="%img/desktopBurrito.jpg" alt="Burrito Masala desktop view">
        </div>
        <a href="https://joshboyan.github.io/burrito-masala/" target="_blank">Visit Site</a>
    </section><!--/#portfolio3-->
    <!--<section id="portfolio4" class="portfolio">
        <h3>Asian Kitchen</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="col6">
            <ul>
                <li>Persistant mobile order bar</li>
                <li>Composite images</li>
                <li>Touch enable review slider</li>
                <li>Google maps API</li>
                <li>Custom map icon</li>
            </ul>
            <img src="" alt="">
        </div>
        <a href="" target="_blank">Visit Site</a>
    </section><!--/#portfolio4-->
    <section id="contact">
        <p></p>
        <div class="col6">
            <div>
                <h3>Web Design</h3>
                <p>I specialize in mobile-first, responsive web design written with semantic, accesible and perfomant code. After some research we can create digital products tailored to you. All the code I write is optimized to be found by search engines and your customers then shared on social on their social networks. I look forward to hearing what makes your business great as well as showing you what makes mine.</p>
            </div>
            <div>
                <h3>Digital Marketing</h3>
                <p>I'm here to help you make a great first imperssion in todays crowded marketplace. It is also important for people to see you to beign with. Your unique solution will be optimized for search engines and social sharing. My network of copywriters and graphic designers can also help you take your marketing efforts to the next level with content creation and social media marketing.</p>
            </div>
        </div>
        <div class="col6">
            <form id="form" action="contact.php" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
                <label for="subject">What's Up</label>
                <select id="subject" name="subject">
                    <option value="build">Build me a site!</option>
                    <option value="redesign">Redesign my site!</option>
                    <option value="question">I need SEO and marketing help!</option>
                    <option value="issue">Mysterious deeds need doing...</option>
                </select><br>
                <label for="message">Tell Me More</label>
                <textarea id="message" name="message" rows="10"></textarea>
                <button type="submit">Start Growing</button>
            </form>
        </div>
    </section><!--/#contact -->
</main>

