---
layout: default
title: "" 
url: ""
image: ""
description: ""  

---
<h1>Grow Your Brand</h1>
<div class="col6">
    <button>Process</button>
</div>
<div class="col6">
    <button>Projects</button>
</div>
<div class="col12">
    <button>Contact</button>
</div>
</header>
<main>
    <section id="intro">
        <h2>Digital Solutions to Real Business Problems</h2>
        <div class="col6">
            <div></div>
            <div></div>
            <h3>Your Customers Want</h3>
            <ul>
                <li>Your site to look great on all their devices.</li>
                <li>Your site to be fast.</li>
                <li>To find what they need quickly.</li>
            </ul>
        </div>
        <div class="col6">
            <div></div>
            <div></div>
            <h3>You Want</h3>
            <ul>
                <li>To create more customers.</li>
                <li>Customers to love your brand.</li>
                <li>Existing customers to do more business with you.</li>
            </ul>
        </div>
        <div class="col6">
            <p>Hi! I'm Josh.</p>
            <p>I am a web designer and developer that creates digital solutions to real problems for local businesses like yours. My professional network includes copywriters, graphic designers and marketing professionals. Check out some of my work below and reach out to tell me about your business. Then we will make a customized plan to help you tell everyone.</p>
        </div>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </section><!--/#intro-->
    <section id="process">
        <div>
            <h2>Creating Your Solution</h2>
        </div>
        <div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section><!--/#process-->
    <section id="portfolio1">
        <h3>anything's PASTAble</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="col6">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <img src="" alt="">
        </div>
    </section><!--/#portfolio1-->
    <section id="portfolio2">
        <h3>Asian Kitchen</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="col6">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <img src="" alt="">
        </div>
    </section><!--/#portfolio2-->
    <section id="portfolio3">
        <h3>Pro Restaurant Tools</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="col6">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <img src="" alt="">
        </div>
    </section><!--/#portfolio3-->
    <section id="portfolio4">
        <h3>Burrito Masala</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="col6">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <img src="" alt="">
        </div>
    </section><!--/#portfolio4-->
    <section id="contact">
        <div class="col6">
            <p></p>
            <div>
                <h3></h3>
                <p></p>
            </div>
            <div>
                <h3></h3>
                <p></p>
            </div>
        </div>
        <div class="col6">
            <form action="">
                <label for="name">Name</label>
                <input id="name" type="text">
                <label for="email">Email</label>
                <input id="email"type="text">
                <label for="whatsUp">What's Up?</label>
                <select name="" id="whatsUp">
                    <option value="">I need a site built!</option>
                    <option value="">My site needs a redesign!</option>
                    <option value="">My business needs branding!</option>
                    <option value="">My business needs digital marketing!</option>
                </select>
                <label for="message">Tell me more!</label>
                <textarea name="" id="message" cols="30" rows="10"></textarea>
                <input type="submit">
            </form>
        </div>
    </section><!--/#contact -->
</main>

