---
layout: default
title: "Local business website design" 
url: "http://www.joshboyan.com"
image: ""
description: "Freelance web designer focused on helping local businesses achieve their goals by providing digital solutions to real world problems."  

---
<h1>Grow Your Brand</h1>
<div class="col6">
    <a href=""><button>Process</button></a>
</div>
<div class="col6">
    <a href=""><button>Projects</button></a>
</div>
<div class="col12">
    <a href=""><button>Contact</button></a>
</div>
</header>
<main role="main">
    <section id="intro">
        <h2>Digital Solutions to Real Business Problems</h2>
        <div class="col6">
            <div></div>
            <div></div>
            <h3>Your Customers Want</h3>
            <ul>
                <li>Your site to look great on all their devices.</li>
                <li>Your site to be fast.</li>
                <li>To find what they need quickly.</li>
            </ul>
        </div>
        <div class="col6">
            <div></div>
            <div></div>
            <h3>You Want</h3>
            <ul>
                <li>To create more customers.</li>
                <li>Customers to love your brand.</li>
                <li>Existing customers to do more business with you.</li>
            </ul>
        </div>
        <div class="col6">
            <p>Hi! I'm Josh.</p>
            <p>I am a web designer and developer that creates digital solutions to real problems for local businesses like yours. My professional network also includes copywriters, graphic designers and marketing professionals. Check out some of my work below and reach out to tell me about your business. Then we will make a customized plan to tell everyone about it.</p>
        </div>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </section><!--/#intro-->
    <section id="process">
        <div>
            <h2>Creative Process</h2>
        </div>
        <div>
            <h3>Brand Exploration</h3>
            <h4>What Makes You Great</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis repellendus sapiente earum ipsa eum, laborum, nulla repudiandae officiis excepturi saepe non porro praesentium? Ipsa, nemo dolorum molestiae aliquam id est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quaerat, dicta tempora dolorum magni reprehenderit dolores, aliquid placeat excepturi ut.</p>

        </div>
        <!--<div>
            <h3>Competitive Analysis</h3>
            <h4>How To Beat Them</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, voluptates modi officiis doloribus quasi unde et saepe, explicabo provident qui quod rem iusto. Iure tempore, sequi optio, sed ipsa labore!</p>
        </div>
        <div>
            <h3>Custom Design</h3>
            <h4>Solving Your Business Problems</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur perspiciatis sit reiciendis recusandae veniam repellat, laudantium id minima accusantium nam. Non obcaecati asperiores repellendus ad voluptatibus accusamus in. Optio, quasi.</p>
        </div>
        <div>
            <h3>User Testing</h3>
            <h4>Getting It Right</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem debitis animi, neque velit eius mollitia error harum voluptatem maiores explicabo ut esse aspernatur quam, adipisci eveniet doloribus aliquam vel.</p>
        </div>-->
        <ul>
            <li></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li></li>
        </ul>
        <ul>
            <li><i class="fa fa-angle-double-left"></i></li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li><i class="fa fa-angle-double-right"></i></li>
        </ul>
    </section><!--/#process-->
    <section id="portfolio1" class="portfolio">
        <h3>anything's PASTAble</h3>
        <div class="col6">
            <img src="%img/tabletAnything.png" alt="anything's PASTAble tablet viewport">
            <img src="%img/phoneAnything.png" alt="anything's PASTAble phone viewport">
            <h5>Overview</h5>
            <p>The clients, Ed and Laury, wanted a site for their food cart that matched the tone for their business; warm, inviting and rustic. After interviewing the clients I drew wire frames and decided information architecture using wireframe.io. The site is a mobile-first responsive design built using LESS for styling and Jquery for added functionality. In addition to designing and developing the site I wrote all of the copy.</p>
        </div>
        <div class="col6">
            <h5>Features</h5>
            <ul>
                <li>Engraved wood icons</li>
                <li>Polaroid image carousel</li>
                <li>Google maps API</li>
                <li>Facebook API feed</li>
                <li>Twitter API feed</li>
                <li>Swipe enabled photo gallery</li>
            </ul>
            <img src="%img/desktopAnything.png" alt="anything's PASTAble desktop viewport">
        </div>
        <div class="col12">
            <p>
            <a href="http://anythingspastablepdx.com/" target="_blank">Visit Site</a>
            </p>
        </div>
    </section><!--/#portfolio1-->
    <!--<section id="portfolio2" class="portfolio">
        <h3>Andrew Johansen Music</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut molestiae nemo quia enim quaerat tempora sunt labore dignissimos facere! Harum praesentium delectus odit facilis mollitia officiis nostrum dicta provident voluptates!</p>
        </div>
        <div class="col6">
            <ul>
                <li>Mailchimp email form</li>
                <li>Soundcloud widget</li>
                <li>Spotify playlist wiget</li>
                <li>Social media integration</li>
            </ul>
            <img src="" alt="">
        </div>
        <a href="http://andrewjohansenmusic.com/" target="_blank">Visit Site</a>
    </section><!--/#portfolio2-->
    <!--<section id="portfolio3" class="portfolio">
        <h3>Burrito Masala</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quisquam eaque, sequi ut animi excepturi ab, esse, accusantium cupiditate, magnam unde ea! Eligendi officia eum, ad ipsum facilis perferendis sed.</p>
        </div>
        <div class="col6">
            <ul>
                <li>Logo design</li>
                <!--<li>Full page HTML5 video</li>-->
                <!--<li>Responsive navigation</li>
                <li>Interactive burrito builder app</li>
                <li>AddThis social sharing</li>
                <li>Twitter API</li>
                <li>Google maps API</li>
            </ul>
            <img src="" alt="">
        </div>
        <a href="https://joshboyan.github.io/burrito-masala/" target="_blank">Visit Site</a>
    </section><!--/#portfolio3-->
    <!--<section id="portfolio4" class="portfolio">
        <h3>Asian Kitchen</h3>
        <div class="col6">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="col6">
            <ul>
                <li>Persistant mobile order bar</li>
                <li>Composite images</li>
                <li>Touch enable review slider</li>
                <li>Google maps API</li>
                <li>Custom map icon</li>
            </ul>
            <img src="" alt="">
        </div>
        <a href="" target="_blank">Visit Site</a>
    </section><!--/#portfolio4-->
    <section id="contact">
        <p></p>
        <div class="col6">
            <div>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eveniet assumenda inventore minus nisi, quidem et? Perferendis distinctio quod facere hic ipsum, quia molestias aperiam ex dignissimos rem, minima id.</p>
            </div>
            <div>
                <h3>Digital Marketing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum et ex sit fugiat doloribus, amet officiis harum, dolores voluptatibus iste. Minima quisquam facilis id quis sit laudantium! Veritatis, ducimus, maxime.</p>
            </div>
        </div>
        <div class="col6">
            <form action="contact.php" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
                <label for="subject">What's Up</label>
                <select id="subject" name="subject">
                    <option value="help">Build me a site!</option>
                    <option value="suggestion">I have a suggestion.</option>
                    <option value="question">I have a question.</option>
                    <option value="issue">I found an issue.</option>
                </select><br>
                <label for="message">Tell Me More</label>
                <textarea id="message" name="message" rows="10"></textarea>
                <input type="submit">
            </form>
        </div>
    </section><!--/#contact -->
</main>

