<!DOCTYPE html>
<!--this is the head, header, nav and footer that will be compiled to any page that you call layout:default in the top Front Matter markdown-->
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Double curly braces load data from the top of pages -->
	<meta description={{description}}>
	<meta property="og:title" content={{title}} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={{url}} />
	<meta property="og:image" content={{image}} />
	<meta property="og:description" content={{description}} />
	<title>{{title}}</title>
	<!--all file paths need to start with % to compile correctly inot different builds. For example: %img/, %css/, %js/-->
	<link rel="icon" type="image/png" href="%img/favicon.png">
	<link rel="icon" type="image/ico" href="%img/favicon.ico">
	<link type="text/plain" rel="author" href="%humans.txt" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="%css/styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
	<header role="banner">
		<a href="#main" id="top" class="sr-only">Skip to content</a>
		<nav role="navigation">
			<div id="navbar" class="navbar">
				<div>
				<a class="logo"><img src="%img/logo.png" alt="Josh Boyan web design Logo"></a>
				<span  id="mobileTrigger">Menu <i class="fa fa-bars"></i></span>
				<ul>
					<li><a>Portfolio</a></li>
					<li><a tabindex="0" id="developers" class="closed">Developers</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				</div>
				<ul id="submenu" class="slideUp">
					<li><a href="http://joshboyan.com/minframe/">minframe</a></li>
					<li><a href="http://joshboyan.com/minframe/tutorial.html">mf tutorial</a></li>
					<li><a href="https://github.com/joshboyan">github</a></li>
					<li><a href="https://www.npmjs.com/~joshboyan">npm</a></li>
					<li><a href="http://joshboyan.com/resume/">resume</a></li>
				</ul>
			</div><!--/.navbar-->
			<div class="mobileNav">
				<ul>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Developers</a></li>
					<li><a href="http://joshboyan.com/minframe/">minframe</a></li>
					<li><a href="http://joshboyan.com/minframe/tutorial.html">mf tutorial</a></li>
					<li><a href="http://joshboyan.com/resume/">resume</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul>
					<li><a href="https://github.com/joshboyan"><i class="fa fa-github"></i> GitHub</a></li>
					<li><a href="https://www.npmjs.com/~joshboyan"><img src="%img/npm.png" alt="npm"></a></li>
					<li><a href="http://codepen.io/joshboyan/"><i class="fa fa-codepen"></i> Codepen</a></li>
					<li><a href="https://www.linkedin.com/in/joshboyan"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
				</ul>
			</div><!--/.mobileNav-->
		</nav>
	<!--header closes on each page for unique hero images etc-->
	<!--body tag injects unique pages from pages directory-->
{{> body}}

	<footer role="contentinfo">
		<div class="col6">
			<nav>
				<ul>
					<li><a href="#">Portfolio</a></li>
					<li><a href="/minframe/">minframe</a></li>
					<li><a href="/minframe/tutorial.html">mf tutorial</a></li>
					<li><a href="/resume/">Resume</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</div>
			<div class="col6">
				<ul>
					<li><a href="https://github.com/joshboyan"><i class="fa fa-github"></i><span> github</span></a></li>
					<li><a href="https://www.npmjs.com/~joshboyan"><img src="%img/npm.jpg" alt="npm"></a></li>
					<li><a href="http://codepen.io/joshboyan/"><i class="fa fa-codepen"></i><span> codepen</span></a></li>
					<li><a href="https://www.linkedin.com/in/joshboyan"><i class="fa fa-linkedin"></i><span> LinkedIn</span></a></li>
				</ul>
			</div>
			<div class="col12">
				<span>&copy; 2016 Josh Boyan <a href="#top"><i class="fa fa-angle-double-up"></i></a></span>
				
			</div>
		
	</footer>
	<script src="%js/scripts.js"></script>
</body>
</html>